---
title: Creating environment on Alicloud
---

This document shows how to set up new [environment](terminology.html#environment) on Alibaba Cloud Services (Alicloud).

## <a id="prepare-alicloud"></a>Step 1: Prepare an Alibaba Cloud Account

If you do not have an Alicloud account, [create one](https://account.alibabacloud.com/register/intl_register.htm).

To configure your Alicloud account:

* [Obtain Alicloud credentials](#credentials)
* [Create a Virtual Private Cloud (VPC)](#create-vpc)
* [Create an Elastic IP](#create-eip)
* [Create a Key Pair](#create-key-pair)
* [Create and Configure Security Group](#create-security)

---
### <a id="credentials"></a> Obtain Alicloud Credentials

Your Alicloud credentials consist of an Access Key ID and a Secret Access Key. Follow [Creating RAM Users](alicloud-iam-users.html#create) to create a new RAM user.

---
### <a id="create-vpc"></a> Create a Virtual Private Cloud (VPC)

1. In the top bar of the Alicloud [VPC Console](https://vpc.console.aliyun.com/#/vpc/us-east-1/list), select a Region, like US East 1.

    <%= image_tag("images/deploy-bosh-to-alicloud/vpc-dashboard-region.png") %>

1. Click **Create VPC**.

    <%= image_tag("images/deploy-bosh-to-alicloud/vpc-dashboard-create.png") %>

1. Complete the VPC form with the following information:
    * **VPC Name**: bosh
    * **Description**: A new VPC for deploying bosh.
    * **CIDR**: 172.16.0.0/12

    <%= image_tag("images/deploy-bosh-to-alicloud/vpc-create.png") %>

1. Click **Create VPC** once VPC is successfully created.

1. Click **Next Step**.

    <%= image_tag("images/deploy-bosh-to-alicloud/vpc-pre-create-vswitch.png") %>

1. Complete the VSwitch form with the following information:
    * **Name**: PublicVSwitch
    * **Zone**: US East 1 Zone A
    * **CIDR**: 172.16.0.0/24
    * **Description**: A new VSwitch for deploying bosh.

    <%= image_tag("images/deploy-bosh-to-alicloud/vpc-create-vswitch.png") %>

1. Click **Create VSwitch** once VSwitch is successfully created.

1. Click **Manage VSwitch** and locate the "PublicVSwitch" in the VPC. Record `VSwitchID` and `Zone` in your deployment manifest with the "public" subnet **Subnet ID**, **Availability Zone** and **Region** (AZ without the trailing character).

    <%= image_tag("images/deploy-bosh-to-alicloud/list-vswitches.png") %>

---
### <a id="create-server-load-balancer"></a> Create an Server Load Balancer

1. In the [Server Load Balancer Console](https://slbnew.console.aliyun.com/?spm=5176.2020520143.1002.d10slb.7cd54adfpvVzb8#/list/us-east-1), select a Region and click **Create Server Load Balancer**.

    <%= image_tag("images/deploy-bosh-to-alicloud/slb-create-instance.png") %>

1. Select **Instance Type**, **Public Network**, and **Network Charge Type**, then click **Buy Now** and **Activate**.

1. Reback to Server Load Balancer Console and you will get a new SLB. Click **Manage** and entry SLB details page.

   Select **Listener** in left bar and click **Add Listener**

    <%= image_tag("images/deploy-bosh-to-alicloud/slb-create-listener") %>

   Select **HTTP** and input **80**, and then click **Next**. You can also set other configurations in the page.

   <%= image_tag("images/deploy-bosh-to-alicloud/slb-create-listener-1") %>

   Use default configuration and click **Confirm** directly. You can also disable Health Check or set other configurations for it.

      <%= image_tag("images/deploy-bosh-to-alicloud/slb-create-listener-2") %>

   Click **Confirm** and finish creating listener.

         <%= image_tag("images/deploy-bosh-to-alicloud/slb-create-listener-3") %>

1. According to the similar steps, create a TCP(protocol) and 443(port) listener for the SLB.

---
### <a id="create-eip"></a> Create an Elastic IP

1. In the [Elastic IP Console](https://ip.console.aliyun.com/?spm=5176.2020520143.103.11.3e39e49cUnGevX#/eip/us-east-1), select a Region and click **Create EIP**.

    <%= image_tag("images/deploy-bosh-to-alicloud/elastic-ip-create.png") %>

1. Select **Max Bandwidth** and **Internet Charge Type**, and then click **Buy Now** and **Activate**.

1. Replace `external_ip` in your deployment manifest with the allocated Elastic IP Address.

    <%= image_tag("images/deploy-bosh-to-alicloud/list-elastic-ips.png") %>

---
### <a id="create-key-pair"></a> Create a Key Pair

1. In the Alicloud [ECS Console](https://ecs.console.aliyun.com/#/home), click **Key Pairs** and click **Create Key Pair**.

    <%= image_tag("images/deploy-bosh-to-alicloud/list-key-pairs.png") %>

1. In the Create Key Pair dashboard, enter "bosh" as the Key Pair name and select Creation Type, and then click **OK**.

    <%= image_tag("images/deploy-bosh-to-alicloud/create-key-pair.png") %>

1. Save private key to `~/Downloads/bosh.pem`.

---
### <a id="create-security"></a> Create and Configure Security Group

1. In the Alicloud [ECS Console](https://ecs.console.aliyun.com/#/home), click **Security Groups** and then click **Create Security Group**.

    <%= image_tag("images/deploy-bosh-to-alicloud/list-security-groups.png") %>

1. Complete the Create Security Group form with the following information:
    * **Security Group Name**: bosh
    * **Description**: BOSH deployed VMs
    * **Network Type**: VPC
    * **VPC**: Select the "bosh" VPC that you created in [Create a Virtual Private Cloud](#create-vpc).

1. Click **OK**

    <%= image_tag("images/deploy-bosh-to-alicloud/create-security-group.png") %>

1. Click **Set the rules Immediately** on the Security Group dialog box, and then click **Quickly Create Rules**.

    <p class="note"><strong>Note</strong>: It highly discouraged to run any production environment with <code>0.0.0.0/0</code> source or to make any BOSH management ports publicly accessible.</p>

1. Complete the Create Security Group Rules 22 form with the following information:
    * **Custom Port Rang**: 22/22
    * **Authorization Object**: Ip of running CLI
    * **Description**: SSH access from CLI

    <%= image_tag("images/deploy-bosh-to-alicloud/edit-security-group-rules.png") %>

1. Complete the following rules according to the same procedure.

    <table border="1" class="nice">
      <tr>
        <th>Type</th>
        <th>Port Range</th>
        <th>Source</th>
        <th>Priority</th>
        <th>Purpose</th>
      </tr>

      <tr><td>Custom TCP Rule</td><td>22/22</td><td>(My IP)</td><td>1</td><td>SSH access from CLI</td></tr>
      <tr><td>Custom TCP Rule</td><td>6868/6868</td><td>(My IP)</td><td>1</td><td>BOSH Agent access from CLI</td></tr>
      <tr><td>Custom TCP Rule</td><td>25555/25555</td><td>(My IP)</td><td>1</td><td>BOSH Director access from CLI</td></tr>

      <tr><td>All TCP</td><td>1/65535</td><td>0.0.0.0/0</td><td>10</td><td>Management and data access</td></tr>
      <tr><td>All UDP</td><td>1/65535</td><td>0.0.0.0/0</td><td>10</td><td>Management and data access</td></tr>
    </table>

    <p class="note"><strong>Note</strong>:  Select *Authorization Type* to `Security Group Access` , click *Select the security group*. Note: The Alicloud Console should autocomplete the security group ID (e.g. "sg-0xiecd12ab34cd").</p>

    <%= image_tag("images/deploy-bosh-to-alicloud/edit-security-group-rules-ip.png") %>

---
## <a id="deploy"></a> Step 2: Deploy

1. Install [CLI v2](./cli-v2.html).

1. Use `bosh create-env` command to deploy the Director.

    <pre class='terminal'>
    # Set Director internal IP, like 172.16.0.3
    $ export BOSH_ENVIRONMENT=172.16.0.3

    # Create directory to keep state
    $ mkdir bosh-1 && cd bosh-1

    # Clone Director templates
    $ git clone https://github.com/cloudfoundry/bosh-deployment

    # Fill below variables (replace example values) and deploy the Director
    $ bosh create-env bosh-deployment/bosh.yml --state=state.json \
       --vars-store=creds.yml \
       -o bosh-deployment/alicloud/cpi.yml \
       -o bosh-deployment/jumpbox-user.yml \
       -o bosh-deployment/misc/powerdns.yml \
       -v dns_recursor_ip=8.8.8.8 \
       -v director_name=my-bosh \
       -v internal_cidr=172.16.0.0/24 \
       -v internal_gw=172.16.0.1 \
       -v internal_ip=$BOSH_ENVIRONMENT \
       -v vswitch_id=... \
       -v security_group_id=... \
       -v acccess_endpoint=eu-central-1.aliyuncs.com \
       -v access_key_id=... \
       -v access_key_secret=... \
       -v region=... \
       -v zone=...
    </pre>

    You can set `access_endpoint` near your region from the following list:

    - Tokyo(ap-northeast-1): ap-northeast-1.aliyuncs.com
    - Sydney(ap-southeast-2): ap-southeast-2.aliyuncs.com
    - Dubai(me-east-1): me-east-1.aliyuncs.com
    - Frankfurt(eu-central-1): eu-central-1.aliyuncs.com

    You can use `aliyuncs.com` for most region and check https://github.com/denverdino/aliyungo/blob/master/common/endpoints.xml for more information.

    If running above commands outside of an Alicloud VPC, refer to [Exposing environment on a public IP](init-external-ip.html) for additional CLI flags.

    See [Alicloud CPI errors](alicloud-cpi.html#errors) for list of common errors and resolutions.

1. Connect to the Director.

    <pre class="terminal">
    # Configure local alias
    $ bosh int ./creds.yml --path /director_ssl/ca > ca-cert
    $ bosh alias-env my-bosh -e $BOSH_ENVIRONMENT --ca-cert ca-cert


    # Log in to the Director
    $ export BOSH_CLIENT=admin
    $ export BOSH_CLIENT_SECRET=`bosh int ./creds.yml --path /admin_password`
    $ export BOSH_CA_CERT=`bosh int ./creds.yml --path /director_ssl/ca`
    $ bosh -e my-bosh login

    # Query the Director for more info
    $ bosh -e my-bosh env
    </pre>

1. Save the deployment state files left in your deployment directory `my-bosh` so you can later update/delete your Director. See [Deployment state](cli-envs.html#deployment-state) for details.

---
[Back to Table of Contents](index.html#install)

Previous: [Create an environment](init.html)
